@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PizzaMan</h1>
    <p class="lead">Manage your pizzas with this application!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create em</h2>
        <p>Create perfect ingredients for pizzas!</p>
    </div>
    <div class="col-md-4">
        <h2>Group em</h2>
        <p>Group them together to make delicious pizzas!</p>
    </div>
    <div class="col-md-4">
        <h2>Eat em</h2>
        <p>Coming soon...</p>
    </div>
</div>